* {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.colorOutput {
  width: 300px;
  background-color: #ccc;
}

.inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
}



input {
  padding: 0;
  margin: 0;
  border: none;
  height: 100px;
}


.colorBlocks {
  display: flex;
  margin: auto 1vw 1vw 1vw;
  box-sizing: border-box;
}

.colorBlock {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.color,
.mainColorSwatch {
  height: 150px;
  border: 1px solid black;
}

h3 {
  padding: 0 1vw;
}

.inputValue {
  display: flex;
  align-items: center;
}

.inputValue label {
  padding-left: 1vw;
}

.colorOptions {
  display: flex;
  justify-content: space-around;
  padding-left: 1vw;
}

.colorInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}